@use 'variables' as v;

@layer reset, base;

@layer reset {
   *,
   *::before,
   *::after {
      box-sizing: border-box;
   }

   body {
      margin: 0;
   }
}

@layer base {
   body {
      font-family:
         system-ui,
         -apple-system,
         BlinkMacSystemFont,
         sans-serif;
      background: v.$bg;
      color: v.$fg;
      line-height: 1.5;
   }

   a {
      color: inherit;
      text-decoration: none;
   }
}
